.logo-nav {
  width: 120px;
  height: auto;
}

.nav-logo {
  width: 30px;
  height: 30px;
}

.grup-a {
  margin: 0 2em;
}

.ajustes-nav {
  width: 20px;
  height: 20px;
}

.imagen-nav {
  object-fit: cover;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.bg-body-tertiary {
  background-color: transparent !important;
}

hr {
  margin: 0;
}
.nav-link{
  display: flex !important;
  align-items: center !important;
  
  
}
.text-menu{
  font-size: 20px;
  font-weight: 600;
  margin: 0;

 
}

.usuario{
  display: flex;
  
}

.nombre-cuenta{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 10px;
}
.nombre-cuenta h2{
    font-size: 24px;
    margin: 0;
}

.nombre-cuenta h6{
  font-size: 8px;
  margin: 0;
  
}



@media (min-width: 1800px) {
  .grup-a {
    margin: 0 4em;
  }
}
